article{
    width: 380px;
    position: relative;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    border-radius: 21px;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Transition douce pour le zoom */
}

article:hover {
    transform: scale(1.02); /* Zoom de 5% lors du survol */
}

article img {
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
    vertical-align: middle;
}

article span {
    position: absolute;
    top : 21px;
    right: 22px;
    font-size: 12px;
    background-color: #FFD15B;
    width: 65px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoneRecipe {
    background-color: white;
    border-radius: 0px 0px 21px 21px;
    margin: 0;
    padding: 25px 25px 45px 25px;
    min-height: 440px;
}

h2 {
    font-family: 'Anton';
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

h3 {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 400;
    color: #7A7A7A;
    margin-top: 32px;
    margin-bottom: 25px;
}

.truncate {
    display: -webkit-box; /* Utilisé pour définir un conteneur de boîte flexible */
    -webkit-box-orient: vertical; /* Définit l'orientation de la boîte flexible en vertical */
    -webkit-line-clamp: 4; /* Limite le nombre de lignes à 4 */
    overflow: hidden; /* Masque le texte débordant */
    text-overflow: ellipsis; /* Ajoute des points de suspension (...) pour le texte tronqué */
}

.zoneIngredients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.ingredient {
    width: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.ingredientName {
    font-size: 14px;
    color: #1B1B1B;
    margin: 0;
    padding: 0;
}

.ingredientQte {
    font-size: 14px;
    color: #7A7A7A;
    margin: 0;
    padding: 0;
}

/* Pour les écrans plus petits */
@media (max-width: 828px) {
    article{
        width: 100%;
    }

    .zoneRecipe {
        min-height: auto;
    }
    
}
